In [1]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

In [3]:
sierraleonedata = pd.read_csv("C:/Users/AII/Desktop/SolarRadiation_data_analysis/data/sierraleone-bumbuna.csv")

In [4]:
sierraleonedata.head()

,Timestamp,GHI,DNI,DHI,ModA,ModB,Tamb,RH,WS,WSgust,WSstdev,WD,WDstdev,BP,Cleaning,Precipitation,TModA,TModB,Comments
0,2021-10-30 00:01,-0.7,-0.1,-0.8,0.0,0.0,21.9,99.1,0.0,0.0,0.0,0.0,0.0,1002,0,0.0,22.3,22.6,NaN
1,2021-10-30 00:02,-0.7,-0.1,-0.8,0.0,0.0,21.9,99.2,0.0,0.0,0.0,0.0,0.0,1002,0,0.0,22.3,22.6,NaN
2,2021-10-30 00:03,-0.7,-0.1,-0.8,0.0,0.0,21.9,99.2,0.0,0.0,0.0,0.0,0.0,1002,0,0.0,22.3,22.6,NaN
3,2021-10-30 00:04,-0.7,0.0,-0.8,0.0,0.0,21.9,99.3,0.0,0.0,0.0,0.0,0.0,1002,0,0.1,22.3,22.6,NaN
4,2021-10-30 00:05,-0.7,-0.1,-0.8,0.0,0.0,21.9,99.3,0.0,0.0,0.0,0.0,0.0,1002,0,0.0,22.3,22.6,NaN

In [5]:
sierraleonedata['Timestamp'] = (pd.to_datetime(sierraleonedata['Timestamp'])) #.dt.date
sierraleonedata.head()

,Timestamp,GHI,DNI,DHI,ModA,ModB,Tamb,RH,WS,WSgust,WSstdev,WD,WDstdev,BP,Cleaning,Precipitation,TModA,TModB,Comments
0,2021-10-30 00:01:00,-0.7,-0.1,-0.8,0.0,0.0,21.9,99.1,0.0,0.0,0.0,0.0,0.0,1002,0,0.0,22.3,22.6,NaN
1,2021-10-30 00:02:00,-0.7,-0.1,-0.8,0.0,0.0,21.9,99.2,0.0,0.0,0.0,0.0,0.0,1002,0,0.0,22.3,22.6,NaN
2,2021-10-30 00:03:00,-0.7,-0.1,-0.8,0.0,0.0,21.9,99.2,0.0,0.0,0.0,0.0,0.0,1002,0,0.0,22.3,22.6,NaN
3,2021-10-30 00:04:00,-0.7,0.0,-0.8,0.0,0.0,21.9,99.3,0.0,0.0,0.0,0.0,0.0,1002,0,0.1,22.3,22.6,NaN
4,2021-10-30 00:05:00,-0.7,-0.1,-0.8,0.0,0.0,21.9,99.3,0.0,0.0,0.0,0.0,0.0,1002,0,0.0,22.3,22.6,NaN

**Summary Statistics Analysis**

In [ ]:
sierraleonedata.columns

In [ ]:
sierraleonedata.shape

In [ ]:
sierraleonedata.set_index('Timestamp', inplace=True)
sierraleonedata.head()

In [ ]:
sierraleonedata.info()

In [ ]:
sierraleonedata.describe()

**Data Quality Check**

In [ ]:
# Check for missing values in specific columns
missing_values = sierraleonedata.isnull().sum()
print(missing_values)

In [ ]:
# Check for negative values in all numeric columns
negative_values = sierraleonedata.select_dtypes(include=[float, int]) < 0

# Display rows with negative values
incorrect_entries = sierraleonedata[negative_values.any(axis=1)]
print(incorrect_entries)

In [ ]:
def check_incorrect_entries(df):
    """
    This function checks for incorrect entries in a DataFrame.
    It considers negative values in numeric columns as incorrect entries.
    Returns a dictionary with column names as keys and the count of incorrect entries as values.
    """
    incorrect_entries_count = {}

    # Check for incorrect entries in numeric columns (e.g., negative values)
    for col in df.select_dtypes(include=[float, int]).columns:
        incorrect_count = df[df[col] < 0].shape[0]
        if incorrect_count > 0:
            incorrect_entries_count[col] = incorrect_count

    # Add other checks if needed (e.g., for non-numeric columns)
    # Example: Check for unexpected values in categorical columns
    # for col in df.select_dtypes(include=[object]).columns:
    #     unexpected_values = df[~df[col].isin(expected_categories)]
    #     incorrect_count = unexpected_values.shape[0]
    #     if incorrect_count > 0:
    #         incorrect_entries_count[col] = incorrect_count

    return incorrect_entries_count

incorrect_entries = check_incorrect_entries(sierraleonedata)
print(incorrect_entries)

**Plot Time Series Data**

In [ ]:
# Plotting the time series data
plt.figure(figsize=(10, 5))

# Line plot for GHI, DNI, DHI, and Tamb
plt.plot(sierraleonedata.index, sierraleonedata['GHI'], label='GHI', color='orange')
plt.plot(sierraleonedata.index, sierraleonedata['DNI'], label='DNI', color='blue')
plt.plot(sierraleonedata.index, sierraleonedata['DHI'], label='DHI', color='green')
plt.plot(sierraleonedata.index, sierraleonedata['Tamb'], label='Tamb', color='red')

plt.title('Time Series of GHI, DNI, DHI, and Tamb')
plt.xlabel('Date')
plt.ylabel('Values')
plt.legend()
plt.show()

In [ ]:
# Separate positive and negative values
positive_values = sierraleonedata[['GHI', 'DNI', 'DHI', 'Tamb']].clip(lower=0)
negative_values = sierraleonedata[['GHI', 'DNI', 'DHI', 'Tamb']].clip(upper=0)

# Plot positive values
positive_values.plot(kind='area', figsize=(10, 4), alpha=0.5, stacked=False)

plt.title('Time Series Area Plot of Positive GHI, DNI, DHI, and Tamb')
plt.xlabel('Date')
plt.ylabel('Values')
plt.legend(loc='upper left')
plt.show()

# Plot negative values separately if needed
negative_values.plot(kind='area', figsize=(10, 4), alpha=0.5, stacked=False)

plt.title('Time Series Area Plot of Negative GHI, DNI, DHI, and Tamb')
plt.xlabel('Date')
plt.ylabel('Values')
plt.legend(loc='upper left')
plt.show()

In [ ]:
daily_data = sierraleonedata.resample('D').mean()
# Plotting the daily resampled data
plt.figure(figsize=(12, 3))

# Plot daily mean for GHI, DNI, DHI, and Tamb
plt.plot(daily_data.index, daily_data['GHI'], label='GHI', color='orange')
plt.plot(daily_data.index, daily_data['DNI'], label='DNI', color='blue')
plt.plot(daily_data.index, daily_data['DHI'], label='DHI', color='green')
plt.plot(daily_data.index, daily_data['Tamb'], label='Tamb', color='red')

plt.title('Daily Mean of GHI, DNI, DHI, and Tamb')
plt.xlabel('Date')
plt.ylabel('Daily Mean Values')
plt.legend(loc='upper left')
plt.show()

In [ ]:
monthly_data = sierraleonedata.resample('M').mean()
# Plotting the daily resampled data
plt.figure(figsize=(12, 3))

# Plot daily mean for GHI, DNI, DHI, and Tamb
plt.plot(monthly_data.index, monthly_data['GHI'], label='GHI', color='orange')
plt.plot(monthly_data.index, monthly_data['DNI'], label='DNI', color='blue')
plt.plot(monthly_data.index, monthly_data['DHI'], label='DHI', color='green')
plt.plot(monthly_data.index, monthly_data['Tamb'], label='Tamb', color='red')

plt.title('Monthly Mean of GHI, DNI, DHI, and Tamb')
plt.xlabel('Date')
plt.ylabel('Monthly Mean Values')
plt.legend(loc='upper left')
plt.show()

**Correlation Analysis**

In [ ]:
# Select relevant columns
columns_of_interest = ['GHI', 'DNI', 'DHI', 'TModA', 'TModB', 'WS', 'WSgust', 'WD']

# Calculate the correlation matrix
corr_matrix = sierraleonedata[columns_of_interest].corr()

**Heatmap** 
* The heatmap provides a visual summary of correlations between variables, making it easy to identify strong positive or negative correlations.
* Look for strong correlations (values close to 1 or -1) between the solar radiation components and temperature measures. Positive correlations are indicated by warm colors, while negative correlations are shown by cool colors.

**Pair Plot** 
* The pair plot shows scatter plots for each pair of variables and histograms for individual variables. This is useful for identifying relationships and distributions.
* Investigate the scatter plots and histograms to observe the relationships between solar radiation components and temperature. Pay attention to linear relationships, clusters, and any outliers.

**Scatter Matrix** 
* The scatter matrix provides a grid of scatter plots for each combination of wind conditions and solar irradiance. This helps in exploring potential correlations and dependencies between these variables.
* Analyze the scatter plots to explore the relationship between wind conditions (WS, WSgust, WD) and solar irradiance (GHI, DNI, DHI). Look for patterns or trends that might indicate how wind conditions influence solar irradiance.

In [ ]:
# Plotting the heatmap
plt.figure(figsize=(10, 8))
sns.heatmap(corr_matrix, annot=True, cmap='coolwarm', linewidths=0.5, center=0)
plt.title('Correlation Heatmap')
plt.show()

In [ ]:
# Pair plot for solar radiation components and temperature
sns.pairplot(sierraleonedata[['GHI', 'DNI', 'DHI', 'TModA', 'TModB']])
plt.suptitle('Pair Plot for Solar Radiation Components and Temperature', y=1.02)
plt.show()

In [ ]:
# Scatter matrix for wind conditions (WS, WSgust, WD) and solar irradiance (GHI, DNI, DHI)
sns.pairplot(sierraleonedata[['WS', 'WSgust', 'WD', 'GHI', 'DNI', 'DHI']], diag_kind='kde')
plt.suptitle('Scatter Matrix for Wind Conditions and Solar Irradiance', y=1.02)
plt.show()

**Wind Analysis**

* **Scatter Polar Plot**: This plot allows you to observe how wind speeds vary with direction. High wind speeds will be indicated by points farther from the center and also any predominant wind directions where higher speeds are frequent.

* **Wind Rose:** The wind rose reveals the most common wind directions and the range of wind speeds associated with those directions. It can help to identify trends such as prevailing winds or significant wind events that affect your study area.

In [ ]:
# Extract wind speed and direction
wind_speed = sierraleonedata['WS']
wind_direction = sierraleonedata['WD']

# Convert wind direction from degrees to radians
wind_direction_radians = np.deg2rad(wind_direction)

In [ ]:
plt.figure(figsize=(8, 8))
ax = plt.subplot(111, projection='polar')

# Create a scatter plot on the polar axis
sc = ax.scatter(wind_direction_radians, wind_speed, c=wind_speed, cmap='viridis', alpha=0.75)

# Add a color bar
plt.colorbar(sc, label='Wind Speed (m/s)')

ax.set_theta_zero_location('N')  # Set the zero degree location to North
ax.set_theta_direction(-1)  # Set the direction of angles to be clockwise

plt.title('Wind Speed and Direction Distribution')
plt.show()

In [ ]:
plt.figure(figsize=(8, 8))
ax = plt.subplot(111, projection='polar')

# Create bins for wind direction
num_bins = 16  # Number of direction bins
bins = np.linspace(0, 2 * np.pi, num_bins + 1)

# Compute the histogram
hist, bin_edges = np.histogram(wind_direction_radians, bins=bins, weights=wind_speed)

# Create a bar plot on the polar axis
bars = ax.bar(bin_edges[:-1], hist, width=(2 * np.pi) / num_bins, color='skyblue', edgecolor='black')

ax.set_theta_zero_location('N')  # Set the zero degree location to North
ax.set_theta_direction(-1)  # Set the direction of angles to be clockwise

plt.title('Wind Rose: Distribution of Wind Speed and Direction')
plt.show()